@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./eat.scss";
@import "./fight.scss";
@import "./play.scss";
@import "./sleep.scss";

body {
  background-image: url('https://images.prod.hulu.jp/d3urerHm/uploads/migration/50019724_series_art__768x2048_tamagotchi_happy_harmony_85dde8470317305012e27d7d887f048c.jpg?w=1600&h=600&p=t');
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 330px 330px;
  grid-gap: 10px;
}

#progress {
  grid-column: 1 / -1;
}

#pet {
  grid-column: 1 / -1;
  background-color: orange;
  margin: 0 auto;
}

.title {
  background-color: #FF6700;
  color: white;
}

.fa-trophy {
  color: #FFD700;
}

.userPic {
  height: 100px;
  padding: 2px, 4px;
  object-fit: cover;
  border-radius: 50%;
}

.barContainer {
  height: 25px;
  background-color: #CCC;
  position: relative;
  border-radius: 1.5em;
}



.progress-bar {
  position: absolute;
  height: 100%;
  background-color: #FF0000;
  border-radius: 1.5em;
  color: white;
  animation: progress-animation 5s forwards;
}

@keyframes progress-animation {
  0% { width: 0%; }
  100% { width: 100%; }
}

.form-group {
  color: white;
}
